<div id="sidebar-container" class="bg-primary border-right">
    <div class="logo bg-dark border-buttom">
        <h4 class="text-white fw-bold">Sánchez Quality</h4>
    </div>
    <div class="menu">
        <a href="#" class="d-block p-3"><i class="bi bi-house-door me-2 lead"></i> Dashboard</a>
        <a href="#" class="d-block p-3"><i class="bi bi-people me-2 lead"></i> Usuarios</a>
        <a routerLink="/producto" routerLinkActive="text-primary" class="d-block p-3"><i class="bi bi-cart2 me-2 lead"></i>Productos</a>
        <a routerLink="/proveedor" routerLinkActive="text-primary" class="d-block p-3"><i class="bi bi-cart2 me-2 lead"></i>Proveedor</a>
        <a href="#" class="d-block p-3"><i class="bi bi-bar-chart me-2 lead"></i> Estadísticas</a>
        <a href="#" class="d-block p-3"><i class="bi bi-person me-2 lead"></i> Perfil</a>
        <a href="#" class="d-block p-3"><i class="bi bi-gear me-2 lead"></i> Configuración</a>
    </div>
</div>